#heading {
  text-align: center;
  vertical-align: middle;
}
#roklogo {
  float: left;
  width: 198px;
  height: 80px;
}
#wip {
  color: red;
}
#LoLsProject {
  height: 92px;
  width: 580px;  
}
#lols-icon {
  height: 97px;
  width: 128px;
}

#lols-name {
  height: 92px;
  width: 580px;
}