    <!-- About Section -->
    <section id="about" class="container content-section text-center" style="background: url(/img/universe-image.jpg) no-repeat bottom center scroll">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About {{site:title}}</h2>
                <p>Research on Knowing is the practical application of Epistemology within Philosphy. 
                    According to the Oxford Dictionary, it is the theory of knowledge, with regard to its methods, 
                    validity, and scope. Epistemology is the investigation of what distinguishes justified belief from opinion.
                </p>
                <p>Research on Knowing explores how we learn, understand and create things. Software and computing are a 
                    particular area of interest. We belief that changing our point of view can revolutionize our lives. 
                    The inventation of the telescope changed humanities ideas and understanding of the stars and planets while
                    the microscope made visibile an unimagined world within a drop of water. 
                    We are working to reinventing computer programming languages to create a paradigm shift within 
                    computing and software.
                </p>
                <a href="https://www.onknowing.com/" class="btn btn-default btn-lg">Visit Site</a>
                <div>
                    <a href="#lols" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>