    <!-- Dan's IT Cookbook Section -->
    <section id="DansITcookbook" class="content-section text-center" style="padding-top: 50px">
        <div class="proj-section" style="background: url(/img/lightning.jpg) no-repeat center center scroll">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2 class="proj-logo">Dan's IT Cookbook</h2>
                    <p class="proj-body">
                        IT tasks are presented in a recipe format. Each recipe is described with clear
                        goals and objectives. A list of ingredients details the unique information required
                        to accomplish the task. A set of instructions show how the task is performed
                        using example ingredient values. By using example values, recipes 
                        provide concrete illustrations of how the IT task should be carried out.
                    </p>
                    <a href="https://www.Dans-IT-Cookbook.com/" class="btn btn-default btn-lg">Visit Site</a>
                     <div>
                        <a href="#contact" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a> 
                    </div>
                </div>
            </div>
        </div>
    </section>