    <!-- Dan's IT Cookbook Section -->
    <section id="ditc" class="content-section text-center" style="padding-top: 50px">
        <div class="proj-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2 class="proj-logo">Dan's IT Cookbook</h2>
                    <p class="proj-body">Dan's IT Cookbook shows how to perform common IT tasks with brief 
                        instructions in the format of recipes.
                    </p>
                    <a href="https://www.Dans-IT-Cookbook.com/" class="btn btn-default btn-lg">Visit Site</a>
                </div>
            </div>
        </div>
    </section>