    <footer>
        <div class="container text-center">
            <p>Copyright &copy; 20{{ site.time | date: '%y' }} Research on Knowing LLC. All rights reserved.</p>
            <p style="font-size:12px;opacity:0.7">Images: Large Magellanic Cloud region LHA 120-N 150, ESA/Hubble, NASA, I. Stephens. Wolf-Rayet star WR 124, NASA, ESA, CSA, STScI, Webb ERO Production Team. Protostar L1527, NASA, ESA, CSA, STScI. Ring Nebula (M57), NASA, ESA, C.R. O'Dell (Vanderbilt University), and D. Thompson (Large Binocular Telescope Observatory).</p>
        </div>
    </footer>
