    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading"><i class="fa fa-laptop" style="font-size:100px"></i><br>Research On Knowing</h1>
                        <p class="intro-text">Reinventing computer programming to revolutionize how we learn, understand and create.</p>
                        <a href="#lols" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
