    <!-- Intro Header -->
    <header class="intro" style="background: url(/img/universe-image.jpg) no-repeat bottom center scroll">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading rok-logo">
                          <img src="{{ site.baseurl }}/img/owl-face.png" alt="Research On Knowing owl logo" style="height:200px;width:auto"><br>
                          {{ site.title }}
                        </h1>
                        <p class="intro-text rok-body"><strong>Revealing the Unseen. Redefining How We Learn, Understand, and Work.</strong></p>
                        <p class="intro-text rok-body">Just as the telescope opened the stars and the microscope unlocked invisible worlds, Research on Knowing puts practical epistemology to work. We harness new tools, software, and shifted perspectives to make the hidden visible—transforming abstract theories of knowledge into actionable ways to learn, reason, and build.</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
