    <!-- Language of Languages Section -->
    <section id="languageOfLanguages" class="container proj-section text-center" 
        style="background: url(/img/tower-of-babel.jpg) no-repeat center center scroll">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2 class="proj-logo">Language of Languages (LoLs)</h2>
                <p class="proj-body">The reinvention of computer programming languages to create a paradigm shift within 
                    computing and software. Language of Languages employs an experimental language workbench to place 
                    the representation of software within the reach of developers. Domain specific languages can be created and 
                    modified. Software notational systems can be unified allowing developers to deplict
                    large software projects with a representation that best fits the situation.
                </p>
                <a href="https://www.languageoflanguages.com/" class="btn btn-default btn-lg">Visit Site</a>
                <div>
                    <a href="#DansITcookbook" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a> 
                </div>
            </div>
        </div>
    </section>