    <!-- Download Section -->
    <section id="lols" class="content-section text-center" style="padding-top: 50px">
        <div class="lols-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2 class="lols-logo">Language of Languages (LoLs)</h2>
                    <p class="lols-body">Language of Languages is our experimental language workbench that fulfills a frequently overlooked but important role: unify the different notations of code used in large projects so developers can better understand and evolve these projects.</p>
                    <a href="http://www.languageoflanguages.com/" class="btn btn-default btn-lg">Visit Site</a>
                </div>
            </div>
        </div>
    </section>
